{% extends 'baseAdmin.html.twig' %}

{% block body %}

<div id="page-wrapper" style="min-height: 518px;">
    Hello World!
    <button type="button" class="btn btn-default">Default</button>

    <div class="test">tejqskdl</div>

</div>


{% endblock %}
