
html, body {
    height: 100%;
}

body {
    background-image: url("../../images/code_coffee.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.alert {
    border-radius: 2px;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}