
html, body {
    height: 100%;
}

body {
    background-image: url("../../images/code_coffee.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-flow: column;
    min-height: 100%;

    padding-top: 15px;
    padding-bottom: 15px;
}

.content {
    background-color: rgba(65, 75, 86, 0.97);
    color: white;
    border-radius: 2px;
    padding: 0 15px 20px 15px;
    flex: 1 1 auto;
}

.content .border-title {
    padding-bottom: 8px;
    margin-bottom: 15px;
    border-bottom: 4px solid rgb(231, 50, 98);
}

.alert {
    border-radius: 2px;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.btn-blue {
    background-color: rgba(9, 132, 227, 0.5);
    color: white;
    font-weight: bold;
    border-radius: 0;
}

.btn-blue:hover, .btn-blue:focus {
    background-color: rgba(9, 132, 227, 1);
    color: white;
    outline: none;
}