
.dashboard {
}

.dashboard .user-hello {

}

.dashboard .user-hello .ninja {
    width: 42px;
    padding-left: 5px;
    padding-right: 5px;
}

.dashboard a:hover, .dashboard a:active, .dashboard a:focus {
    text-decoration: none;
}

.dashboard .card {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;

    background-color: rgba(9, 132, 227, 0.7);

    padding: 30px 40px;
    margin-top: 10px;
    border-radius: 2px;
    border-bottom: 12px solid #0764ab;
}

.dashboard .card:hover {
    background-color: rgba(9, 132, 227, 1);
}

.dashboard .card .card-title {
    font-size: 2.5em;
}

.dashboard .card .card-title .icon-title {
    padding-right: 10px;
}

.dashboard .card .card-description {
    font-size: 1.2em;
    color: #ecf0f1;
}



