
.navbar-inverse {
    background-color: rgb(65, 75, 86);
    border: none;
    border-radius: 2px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-brand:hover {
    color: #e73262;
}

.navbar-inverse .navbar-nav > .active > a {
    font-weight: bold;
    background-color: rgba(231, 50, 98, 0.7);
}

.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: rgba(231, 50, 98, 1);
}