<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Administration jayaReborn{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/vendor/bordercloud/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css"/>
    <link rel="stylesheet" type="text/css" href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css"/>

    {#Font awesome with CDN#}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    {#end CDN#}

    {% stylesheets
        'css/main.css'
        'css/bootstrap.min.css'
        'css/sb-admin-2.css'
        'css/fontawesome.min.css'
        'css/bootstrap-social.css'
        'css/component-global.css'
        output='css/compiled/app.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        <link rel="stylesheet" href="{{ asset('vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}">
    {% endstylesheets %}


</head>
<body>
    {% block navbar %}
        {% include 'admin/nav.html.twig' %}
    {% endblock %}
    {% block header %}{% endblock %}

    <div id="page-wrapper" style="min-height: 518px;">
        <div class="row">
            {% block retour %}
                {% include 'admin/retour.html.twig' %}
            {% endblock %}
            {% block body %}{% endblock %}
        </div>

    <div>

</body>

{% javascripts
    'js/jquery.min.js'
    'js/bootstrap.min.js'
    'js/dataTable.js'
    'js/dataTables.bootstrap.min.js'
    'js/main.js'
    output='js/compiled/app.js' %}
    <script src="{{ asset_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endjavascripts %}

{% block myjavascript %}{% endblock %}

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#tableAdmin').DataTable();
        $('.select2').select2();
        $('.js-example-basic-multiple').select2({
            width: '100%',
            "language": {
                "noResults": function(){
                    return "Aucun résultat !";
                }
            }
        });
    } );
</script>
</html>
