<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Jaya Administration</a>
    </div>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav in" id="side-menu">
                <li>
                    <a href="{{ path('admin_user') }}" class="active"><i class="fa fa-dashboard fa-fw"></i> Gestion des étudiants</a>
                </li>
                <li>
                    <a href="{{ path('admin_professeur') }}" class="active"><i class="fa fa-dashboard fa-fw"></i> Gestion des professeurs</a>
                </li>
				<li>
                    <a href="{{ path('admin_matiere') }}" class="active"><i class="fa fa-dashboard fa-fw"></i> Matière</a>				
                </li>
				<li>
                    <a href="{{ path('admin_parcours') }}" class="active"><i class="fa fa-dashboard fa-fw"></i> Parcours</a>				
                </li>
				<li>
                    <a href="{{ path('admin_pole') }}" class="active"><i class="fa fa-dashboard fa-fw"></i> Pôles de compétences</a>				
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>