{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="col-lg-12">
            <h1 class="page-header">Liste et exportation des étudiants</h1>
        </div>
        <div class="col-lg-12">
            <!-- /.panel-heading -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des étudiants
                </div>
            </div>
        </div>
    </div>
{% endblock %}