{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <div class="panel panel-default">
        <div class="col-lg-12">
            <h1 class="page-header">Vider la base de données</h1>
        </div>
        <div class="col-lg-12">
            <!-- /.panel-heading -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des étudiants
                </div>
                <div class="panel-body">
                    <form action="{{ path('admin_reset_data') }}" method="post">
                        <div class="row">
                    <div class="col-sm-12">
                        <table class="tableAdmin">
                            <thead>
                            <tr role="row">
                                <th>Données</th>
                                <th>Les effacer</th>
                                
                            </tr>
                            </thead>
                            <tbody>
                                <tr role="row">
                                    <td>Effacer les semestres</td>
                                    <td><input type="checkbox" name="semestre" id = "semestre"></td>
                                </tr>
                                <tr role="row">
                                    <td>Effacer les pôles de compétences</td>
                                    <td><input type="checkbox" name="pole" id = "pole"></td>
                                </tr>
                                <tr role="row">
                                    <td>Effacer les parcours</td>
                                    <td><input type="checkbox" name="parcours" id = "parcours"></td>
                                </tr>
                                <tr role="row">
                                    <td>Effacer les matières</td>
                                    <td><input type="checkbox" name="matiere" id = "matiere" onchange="checkMatiere(this)"></td>
                                </tr>
                                <tr role="row">
                                    <td>Effacer les liens matières - pôle de compétence</td>
                                    <td><input type="checkbox" name="matiereParcours" id = "matiereParcours" onchange="checkMatiereParcours(this)"></td>
                                </tr>
                                <tr role="row">
                                    <td>Effacer les groupes</td>
                                    <td><input type="checkbox" name="groupe" id = "groupe" onchange="checkGroupe(this)"></td>
                                </tr>
                                <tr role="row">
                                    <td>Effacer tous les choix d'options</td>
                                    <td><input type="checkbox" name="option" id ="option" onchange="checkOption(this)"></td>
                                </tr>
                                <tr  role="row">
                                    <td>Effacer tous les étudiants</td>
                                    <td><input type="checkbox" name="etudiant" id="etudiant" onchange="checkEtudiant(this)"></td>
                                </tr>
                            
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-danger pull-right"><i class="fa fa-check"></i>Effacer les éléments sélectionnés</button>
                    </div>
                    <br>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        
        function checkMatiereParcours(checkboxElem)
        {
            if(!checkboxElem.checked)
            {
                document.getElementById("matiere").checked = false;
            }
        }
        function checkMatiere(checkboxElem)
        {
            if(checkboxElem.checked)
            {
                document.getElementById("matiereParcours").checked = true;
                document.getElementById("groupe").checked = true;
                document.getElementById("option").checked = true;
            }
        }
        function checkEtudiant(checkboxElem)
        {
            if(checkboxElem.checked)
            {
                document.getElementById("option").checked = true;
                document.getElementById("groupe").checked = true;
            }
        }
        function checkOption(checkboxElem)
        {
            if(!checkboxElem.checked)
            {
                document.getElementById("etudiant").checked = false;
                document.getElementById("matiere").checked = false;
            }
        }
        function checkGroupe(checkboxElem)
        {
            if(!checkboxElem.checked)
            {
                document.getElementById("option").checked = false;
                document.getElementById("etudiant").checked = false;
            }
        }
    </script>
{% endblock %}