

.wrapper-registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    vertical-align: middle;
}

.sign-in {
    background-color: white;
    width: 40%;
    border: 1px solid #D5D5D5;
    border-radius: 4px 4px 0 0;
    padding: 20px;
}