{% extends 'jaya/baseJayaLogin.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    Consulter votre boîte mail
{% endblock %}
{% block body %}

    <div class="bg-image">

        <div class="wrapper-center large">
            <div class="container ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            {{ 'registration.check_email'|trans({'%email%': user.email}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div><a href="{{ path('fos_user_security_login') }}" class="btn btn-lg btn-block btn-inscription">PAGE DE CONNEXION</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}