{% extends 'jaya/baseJaya.html.twig' %}
{% block title %}
    Inscription
{% endblock %}
{% block body %}

    <div class="container-fluid">
        <div class="wrapper-registration">
            <div class="sign-in">
                {{ form_start(form) }}
                {{ form_end(form) }}

                {% if error %}
                    {% for key,value in error %}
                        {{ value }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}