{% extends 'jaya/baseJaya.html.twig' %}
{% block body %}

    <div class="container-fluid">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.nom) }}
            </div>
            <div class="col-md-12">
                {{ form_widget(form.nom) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}