{# empty Twig template #}
{% extends 'baseAdmin.html.twig' %}

{% block body %}

    {% if updateResponse is defined %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            Le semestre a bien été enregistré.
        </div>
    {% endif %}
    {% if deleteResponse is defined %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            La semestre a bien été supprimée.
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="col-lg-12">
            <h1 class="page-header">Répartition des étudiants par matière</h1>
        </div>
        <div class="col-lg-12">
        <!-- /.panel-heading -->
            <div class="panel panel-default">
                <div class="panel-heading">
                   Répartition
                </div>
                <div class="panel-body">
                    Remarque : Le nombre de matière optionnelle par parcours doit être renseigné ! <br>
                    Remarque 2 : La répartion s'effectuera sur le semestre sélectionné et ne doit être effectué qu'après la date de fin de choix des étudiants <br>
                    Remarque 3 : Veuillez n'exécuter qu'une seule fois par semestre cette répartition par matière dans le cas contraire, les groupes seront supprimé <br>
                    <form action="{{ path('admin_repartition_etudiant') }}" method="post">
                        {% for semestre in listSemestre %}
                            <button class="btn btn-danger" type="submit" name="repartition" value="{{ semestre.id }}">Semestre : {{ semestre.nom }}</button>
                            <br><br>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
