<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Connexion{% endblock %}</title>

        {% stylesheets filter="cssrewrite"
            'css/bootstrap.min.css'
            'css/component-global.css'
            'css/front/global.css'
            'css/front/login.css'
            output='css/compiled/baseLogin.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
    </body>

    {% javascripts
        'js/jquery.min.js'
        'js/bootstrap.min.js'
        output='js/compiled/baseLogin.js' %}
        <script src="{{ asset_url }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {% endjavascripts %}
    {% block myjavascripts %}{% endblock %}

</html>
