<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}jAYA Reborn{% endblock %}</title>

        {% stylesheets filter="cssrewrite"
            'css/bootstrap.min.css'
            'css/fontawesome.min.css'
            'css/bootstrap-social.css'
            'css/front/navbar.css'
            'css/front/footer.css'
            'css/front/global.css'
            'css/front/jaya.css'
            output='css/compiled/base.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div class="container">
            {% block navbar %}
                {% include '/jaya/navbar.html.twig' %}
            {% endblock %}

            {% block header %}{% endblock %}

            {% block body %}{% endblock %}

            {%  block footer %}
                {% include '/jaya/footer.html.twig' %}
            {% endblock %}
        </div>
    </body>

    {% javascripts
        'js/jquery.min.js'
        'js/bootstrap.min.js'
        'js/front/global.js'
        'js/choixUe.js'
        output='js/compiled/app.js' %}
        <script src="{{ asset_url }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}

</html>
