
<div class="footer">
    <div class="row">
        <div class="col-xs-12 upjv">
            <a href="https://www.u-picardie.fr/ent/render.userLayoutRootNode.uP" target="_blank"><img src="{{ asset('images/upjv_logo.png') }}"></a>
        </div>
    </div>
</div>