{% extends 'jaya/baseJayaLogin.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    <div class="container-center">
        <div class="container container-min">
            <div class="row">
                <div class="col-md-12">
                    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
                        <div class="form-group">
                            <label for="email">Identifiant ou adresse email :</label>
                            <input type="text" class="form-control input-login" id="username" name="username" placeholder="Identifiant ou adresse email" required>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-block btn-red" value="Réinitialisation du mot de passe" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}